.Header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 90%;
  padding: 5%;
  padding-top: 10%;
}

.Header-container i{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eae7e7;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
}