body {
  margin: 0;
}

.TripEditor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20%;
  margin-top: 23%;
}

.Animation-notice {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  font-size: 12px;
  font-weight: 300;
  color: rgb(176, 174, 174);
  text-transform: uppercase;
}

.Map-container {
  width: 80vw;
  height: 420px;
  border-radius: 10px;
  background-color: rgb(173, 171, 171);
  overflow: hidden;
}
